<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/abbebec1-cfdf-47d8-9e5f-ca61adb127ac/resourcegroups/demo-rg/providers/Microsoft.ContainerRegistry/registries/acr0330</ResourceId>
    <ResourceName>acr0330</ResourceName>
    <ResourceGroup>demo-rg</ResourceGroup>
    <Subscription>vcsub</Subscription>
    <RegistryUrl>https://acr0330.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d9352c32-d610-4f1a-8692-22d9f0734c1c</ProjectGuid>
  </PropertyGroup>
</Project>