@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
        <p>Hello, testing 123! The time on the server is @DateTime.Now</p>
</div>
